{% load static %}
<!DOCTYPE html>
{% block base %}
    <html lang="en" data-bs-theme="dark">
        <head>
            <link rel="stylesheet"
                  href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
            <meta charset="UTF-8"/>
            <title>
                {% block title %}
                    Naor Leizer
                {% endblock title %}
            </title>
            <link rel="icon" type="image/x-icon" href="{% static 'favicon.svg' %}"/>
            {% block headers %}
                {% comment %} if needed custom headers {% endcomment %}
            {% endblock headers %}
        </head>
        <body>
            {% block navbar %}
                <div id="navbar">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand nav-link" href="{% url 'index' %}">Naor Leizer</a>
                        </div>
                    </nav>
                </div>
            {% endblock navbar %}
            {% block body %}
            {% endblock body %}
        </body>
    {% endblock base %}
</html>
